/*Designing desktop first*/

html{
  position:relative;
}

body{
  background-color: #101010;
  color: #e1e1e1;
  font-family: itc-fenice, serif;
  font-weight: 200;
  font-size: 18px;
}

.side-nav
{
  top: 0;
  left:0;
  width: 20%;
  position: fixed;
  height : 100%;

  background-color:#1A1A1A;
  overflow-x: hidden;
  z-index: 2;
  border-right: solid;
  border-color: #e1e1e1;
  border-width: .05em;
  display: inline;
}

.main
{
  position:fixed;
  width: 80%;
  right:0;
}

  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
    body
    {
      font-size: 16px;
    }

    .side-nav
    {
      width:30%;
    }
    .main
    {
      width: 70%
    }
  }

  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {
    body
    {
      font-size: 14px;
    }


  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (max-width: 600px) {
    body{
      font-size: 12px;
    }
    h2{
      font-size: 10px;
    }

    .side-nav
    {
      width:0%;
      padding:0;
    }
    .main
    {
      width: 100%
    }
  }

  /*phones in portrait*/
  @media only screen and (max-width: 320px) {
    body{
      font-size: 11px;
    }
  }





.logo
{
  top: 0;
  left: 0;
  height: 4em;
  margin-top: 1.25em;
  margin-left: 3em;
  position: absolute;
  z-index: 1;
}

#babylogo
{
  margin-left: 1em;
  margin-top: 2em;
  height: 2.5em;
}

#navDiv{
margin-top: 7.25em;
margin-bottom: 0;
list-style: none;
margin-left: 2.5em;
padding-left: 0;
}

.navLink
{
  line-height: 17vh;
  text-decoration: none;
  color: inherit;
  font-size: 2.5em;
}



#myName
{
  text-align: center;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
}

#profile
{
  margin-left:3em;
  height: 30em;
}

#feature
{
  margin-top: 2em;
  display: flex;
}

.leftcol
{
    width:50%;
    float:left;
}

.rightcol
{
      width:50%;
      float:right;

}

.third
{
  flex:33%;
  text-align: center;
  align-items: center;
}

.tri
{
  height:1em;
  margin: 0;
}

.option
{
  display: block;
  font-size: 1.5em;
}

.making
{
  margin-left: 2em;
  font-size: 3em;
}

#selector
{
  display:flex;
  float:none;
  width: 100%;
  background-color:#1A1A1A;
  border-color: #e1e1e1;
  border-top: solid;
  border-bottom: solid;
  border-width: .05em;
}

  @media only screen and (max-width: 992px)
  {
    #profile
    {
      display: block;
      margin:auto;
    }
  }

  @media only screen and (max-width: 600px)
  {

    .leftcol, .rightcol
    {
     width: 100%;
     display: block;
     margin-left: auto;
     margin-right: auto;
    }
  }
